.background{
    background-image: url("resources/ico2.1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background2{
    background-color: rgb(4, 122, 67);
}

.bg-img{
    background-image: url("resources/final.png");
    background-size: 280px;
    background-position: center;
    background-repeat: no-repeat;
}

.backgroundImg{
    background-image: url(resources/whitegreen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.signup_box{
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    
}

.card_box{
    box-shadow: 0px 0px 10px 0px rgb(0, 95, 75);
    border: none;
}

.adminBody{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}