.background{
    background-image: url("resources/ico2.1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.background2{
    background-color: rgb(4, 122, 67);
}

.bg-img{
    background-image: url("resources/final.png");
    background-size: 280px;
    background-position: center;
    background-repeat: no-repeat;
}

.backgroundImg1{
    background-image: url(wallpaper/darkanimalstock.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.backgroundImg2{
    background-image: url(wallpaper/photo-1555465910-31f7f20a184d.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.backgroundImg3{
    background-image: url(wallpaper/5SYITZRZV4KOI7FWSRF2JUOFTU.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.backgroundImg4{
    background-image: url(wallpaper/production.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.backgroundImg5{
    background-image: url(wallpaper/foodstock.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.backgroundImg6{
    background-image: url(wallpaper/NE-May-0218-cropped.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.backgroundImg7{
    background-image: url(wallpaper/employeess.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.signup_box{
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    
}

.card_box{
    box-shadow: 0px 0px 10px 0px rgb(0, 95, 75);
    border: none;
}

.adminBody{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.footerBody{
    background-image: url(resources/rooster.jpg);
    background-size: cover;
}


/* todooolist */


.gradient-custom-2 {
    /* fallback for old browsers */
    background: #7e40f6;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1)
    );
  }
  
  .mask-custom {
    background: rgba(24, 24, 16, 0.2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }

.ccc{
    color: rgb(0, 255, 255);
}